@using NorMall.Data
@using Microsoft.EntityFrameworkCore
@model Order
@inject ApplicationDbContext db

<div class="row order-history-table" style="border: 2px solid black; border-radius: 30px; margin-top: 20px">

    <h5>
        Order Identifier: @Model.Id <br/> 
        Total: @Model.Total,-  | Order date: @Model.DateTime.ToString("dd.MM.yyyy")
    </h5>
    <table class="table text-center">
        <thead>

        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>

        @{
            var order = await db.Orders.Include(o => o.ProductOrdered).
                FirstOrDefaultAsync(p => p.Id == Model.Id);


            foreach (var productOrdered in Model.ProductOrdered)
            {
                <tr class="order-history-element">
                    @{
                        var productId = productOrdered.ProductId;
                        var product = await db.Products.Include(p => p.Images).FirstOrDefaultAsync(p => p.Id == productId);
                        if (product != null)
                        {
                            <td>@product.Name</td>
                            <td>@product.Price</td>
                            <td>@productOrdered.Quantity</td>
                            <td class="order-history-image">
                                @{
                                    var image = product.Images.FirstOrDefault(i => i.OrderIndex == 0);

                                    if (image != null)
                                    {
                                        <img src="@Url.Action("GetImage", "Home", new { id = image.Id })" alt="Image"/>
                                    }
                                }
                            </td>
                        }

                    }
                </tr>
            }

        }
        </tbody>
    </table>
</div>